@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color:#eeeeee;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
    min-height: 100%;
	}

a{
  text-decoration: underline;
  color: inherit;
}

header {
		background-color: #546e7a;
		font-family: 'Oswald', sans-serif;
		font-size: 32px;
		text-indent: 5px;
	}

footer {
  position: relative;
  padding: 1rem;
  background-color: #efefef;
  text-align: right;
}
