@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color:#eeeeee;
	}

header {
	background-color: #546e7a;
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	text-indent: 5px;
}

table {
	width: auto;
    margin-left: auto;
    margin-right: auto;
}

#login {
	background-color: #546e7a;
	border: none;
	color: white;
	text-align: center;
	font-size: 14px;
	padding: 5px 6px;
}
