@import url('https://fonts.googleapis.com/css?family=Oswald');
		
html, body {
		
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color:#eeeeee;
	}
	

.head {
		position:relative;
		top:30%;
		text-align:center;
		font-family: 'Oswald', sans-serif;
		font-size:76px;
	}

button {
		background-color: #546e7a;
		border: none;
		color: white;
		text-align: center;
		font-size: 16px;
		padding: 14px 40px;