@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color:#eeeeee;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
	}


header {
		background-color: #546e7a;
		font-family: 'Oswald', sans-serif;
		font-size: 32px;
		text-indent: 5px;
	}

footer {
		white-space: pre;
	    position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding-right: 1rem;
		text-align: right;
}
	 }

table {
	width: auto;
    margin-left: auto;
    margin-right: auto;
}

.schema{
		align= center;
		font-size: 22px;
	 }
