
.schemas{
	font-size: 22px;
 }

a[onclick] { cursor: pointer }

 a{
	 text-decoration: none;
 }

 #table_data {
    border-collapse: collapse;
}

#table_data td {
    border: 1px solid #ddd;
    padding: 15px;
}

#table_data tr:nth-child(even){background-color: #f2f2f2;}

#table_data tr:hover {background-color: #ddd;}


 .vertical-menu {
	  float:left;
    width: 200px;
		display: inline-block;
		height: 100%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
