<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link href= "{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Anton </title>
    {% endblock %}
  </head>
  <body>
    <header>
      <a href = "{{url_for('routes.model')}}">Anton</a>
    </header>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <footer>
		Host: {{ template["host"] }} Port: {{ template["port"] }}
		</footer>
</html>
