{% extends "base.html" %}
{% block title %}Model{% endblock %}
{% block head %}
	{{ super() }}
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="vertical-menu">
	 <a href="schema_add.html">Add schema</a>
	 <a href="#">Delete selected schemas</a>
</div>

<div class="schemas">
		<h3>Schemas</h3><br/>
		<table cellspacing="5px">
				{% for schema in schemas %}
				<tr><td><input type="checkbox" name="schema"><a href = "{{ url_for('routes.schema', schema = schema[0])}}">{{ schema[0] }}</a></input></td></tr>
				{% endfor %}
		</table>
</div>


{% endblock %}
