<!---Tables within each Schema--->
<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Anton | Schema</title>

		<meta name="description" content="Schema">
		<meta name="author" content="Anuja Negi">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href ="/static/css/schema.css" rel="stylesheet" />

	</head>

  <body>
    {% extends "base.html" %}
		{% block content %}
    <div class="tables">
      <center><h3>Tables</h3><br/>
      <table cellspacing="5px">
        {% for table in tables %}
        <tr><td><a href = {{ url_for('routes.table', schema=schema, table=table[0]) }}>{{ table[0] }}</a></td></tr>
        {% endfor %}
      </table>
      <div class = "warning">
        {{message}}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
