<!---Schema--->
<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Anton | Schema</title>

		<meta name="description" content="Schema">
		<meta name="author" content="Anuja Negi">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href={{ url_for('static'), filename="css/schema.css" }} rel="stylesheet" />

	</head>

	<body>

	<header>
		Anton
	</header>

	<div class="schema">
		<center><h3>Schemas</h3><br/>
		<table cellspacing="5px">
			  {% for schema in schemas %}
			  <tr><td>{{ schema[0] }}</td></tr>
			  {% endfor %}</center>
		</table>
	</div>

	<footer>
	Host: {{ template["host"] }} Port: {{ template["port"] }}
	</footer>

	</body>
</html>
