{% extends "base.html" %}
{% block title %}{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='schema_add.js') }}"></script>
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
</div>

<div class="add_schema">
  <table cellspacing="10px">
    <tr>
      <td>Schema name: </td>
      <td><input type="text" id="schema_name" placeholder="Enter schema name"></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input id="create_schema" type="submit" value="Create Schema">
       </td>
    </tr>
</div>
{% endblock %}
