{% extends "base.html" %}
{% block title %}{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/drop_table.js') }}"></script>
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
	 <a href="/model/{{schema}}/add-table">Create new table</a>
	 <a id="delete_table" href="#">Drop selected tables</a>
</div>

<div class="tables">
		<h3>{{schema}}</h3><br/>
    {{message}}
		<table cellspacing="5px">
				{% for table in tables %}
				<tr><td><input type="checkbox" name="table" value="{{ table[0] }}"><a href = "{{ url_for('views.table', schema = schema, table = table[0])}}">{{ table[0] }}</a></input></td>
				<td style="color:grey;font-size:12px;"><a href="{{ url_for('views.rename_table', schema = schema[0] table = table[0])}}">Rename</a></td></tr>
				{% endfor %}
				<tr><td id="message" style="color:red;font-size:12px;"></td></tr>
		</table>
</div>
{% endblock %}
