{% extends "base.html" %}
{% block title %}{{table}}|{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type = "text/javascript" src="{{ url_for('static', filename='js/table_data.js') }}"></script>
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
	 <a href="/model/{{schema}}">View all tables</a>
	 <a href="/model/{{schema}}/{{table}}">View table structure</a>
	 <a href="/model/{{schema}}/{{table}}/insert-data">Insert data</a>
   <a href="/model/{{schema}}/{{table}}/alter-table">Alter table</a>
</div>

<div class="columns">
		<h3><a href = "{{ url_for('views.schema', schema=schema)}}">{{schema}}</a> | {{table}}</h3><br/>
    {{message}}
		<table cellspacing="5px">
			<tr>
				<td colspan="5">Enter SQL query to alter table:</td>
			</tr>
			<tr>
				<td><textarea id="alter_table_query" rows="10" cols="55"></textarea></td>
			</tr>
		  <tr>
				<td>
	        <input id="alter_table" type="submit" value="Alter!">
	       </td>
	    </tr>
			<tr>
				<td id="message" style="color:red;font-size:12px;"></td>
			</tr>
		</table>
</div>
{% endblock %}
