{% extends "base.html" %}
{% block title %}{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/table_import.js') }}"></script>
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
	 <a href="/model/{{schema}}/add-table">Create new table</a>
</div>

<div class="import_table">
		<h3>{{schema}}</h3><br/>
    {{message}}
		<table cellspacing="5px">
				<tr>
          <td>Enter table name :</td>
          <td><input type="text" id="table_name" placeholder="Enter table name here"></input></td>
        </tr>
        <tr>
          <td>Choose table data file :</td>
          <td><input id="table_data" type="file"></input></td>
        </tr>
        <tr>
          <td><input id="import" type="button" value="Import table"></input></td>
        </tr>
    		<tr>
          <td id="message" style="color:red;font-size:12px;"></td></tr>
		</table>
</div>
{% endblock %}
