{% extends "base.html" %}
{% block title %}{{table}}|{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="vertical-menu">
	 <a href="#">Alter table</a>
</div>

<div class="columns">
		<h3><a href = "{{ url_for('views.schema', schema=schema)}}">{{schema}}</a> | {{table}}</h3><br/>
    {{message}}
		<table cellspacing="5px">
      <tr>
        <td><b>Column</b></td>
        <td><b>Data Type</b></td>
      </tr>
			{% for column in columns %}
			<tr>
        <td><input type="checkbox" name="row">{{ column[0] }}</input></td>
        <td>{{ column[1] }}</td>
      </tr>
			{% endfor %}
		</table>
</div>
{% endblock %}
