{% extends "base.html" %}
{% block title %}{{table}}|{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/table_column_drop.js') }}"></script>
	<link href= "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
	 <a href="/model/{{schema}}">View all tables</a>
	 <a href="/model/{{schema}}/{{table}}/table-data">View table data</a>
	 <a href="/model/{{schema}}/{{table}}/insert-data">Insert data</a>
	 <a href="/model/{{schema}}/{{table}}/add-column">Add column</a>
</div>

<div class="columns">
		<h3><a href = "{{ url_for('views.schema', schema=schema)}}">{{schema}}</a> | {{table}}</h3><br/>
    {{message}}
		<table cellspacing="5px">
			<tr>
					 <td><font color="grey" size="1.5px"><i>View side menu for options :)</i></font><a href="/model"></td>
			</tr>
			<tr></tr>
      <tr>
        <td colspan="2"><b>Column</b></td>
        <td colspan="2"><b>Data Type</b></td>
      </tr>
			{% for column in columns %}
			<tr>
        <td>{{ column[0] }}</td><td style="color:grey;font-size:12px;"><a name="column_name" id="{{column[0]}}" href="{{ url_for('views.alter_column_name', schema = schema, table=table, column=column[0])}}">Alter</a></td><td></td>
        <td>{{ column[1] }}</td><td style="color:grey;font-size:12px;"><a name="data_type" id="{{column[1]}}" href="{{ url_for('views.alter_column_definition', schema = schema, table=table, column=column[0])}}">Alter</a></td>
				<td style="color:red;font-size:12px;"><a href="#" name="{{column[0]}}" id="delete_column">Delete column</a></td>
			</tr>
			{% endfor %}
			<tr><td id="message" style="color:red;font-size:12px;"></td></tr>
		</table>
</div>
{% endblock %}
