{% extends "base.html" %}
{% block title %}{{schema}}{% endblock %}
{% block head %}
	{{ super() }}
	<script type = "text/javascript" src="{{ url_for('static', filename='js/table_add.js') }}"></script>
	<link href = "{{ url_for('static', filename='css/model.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="vertical-menu">
	 <a href="/model">View all schemas</a>
   <a href="javascript: history.go(-1)">View all tables</a>
</div>

<div class="add_table">
  <table cellspacing="10px">
    <tr>
      <td>Table name: </td>
      <td><input type="text" id="table_name" placeholder="Table name"></td>
    </tr>

    <table id="column_details" cellspacing="10px"></table>

		<tr>
			<td>
				<input id="add_column" type="submit" value="Add column">
			</td>
      <td>
        <input id="create_table" type="submit" value="Create table">
       </td>
    </tr>
		<tr>
			<td></td>
			<td id="message" style="color:red;font-size:12px;"></td>
		</tr>
	</table>
</div>
{% endblock %}
